body{
	font-family: Arial, sans-serif;
}

body.login h1 a {
	background-image: url(../images/logo.png) !important;
	background-size: cover !important;
	height: 184px;
	width: 183px;
}
body.login {
	background: #fff;
}
body.login .message {
	border-left: 4px solid #000;
}
.wp-core-ui .button-primary {
	border: 1px solid #000;
	background: #000 !important;
	text-shadow: none;
}
.wp-core-ui .button-primary:hover {
	background: #555 !important;
}
