
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$white: #ffffff;
$blue: #0bc3dc;
$light-blue: #cfdade;

$grey: #5c5c5c;
$dark-grey: #1f1d1d;
$light-grey: #c6c6c6;
$border-grey: #f1f1f1;
